<!-- Preload and CSS must use the exact same URL (with hash) -->
<link
  rel="preload"
  as="font"
  type="font/ttf"
  href="{{ get_url(path='fonts/ShareTechMono/ShureTechMonoNerdFontMono-Regular.ttf', cachebust=true) }}"
  crossorigin
>

<style>
  @font-face {
    font-family: "ShureTechMono NF";
    src: url("{{ get_url(path='fonts/ShareTechMono/ShureTechMonoNerdFontMono-Regular.ttf', cachebust=true) }}") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
</style>
